 /* menu start */ 

 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 2%;
   left: 2%;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
 /*
 .wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
   background-color: black;
   
 }
 */
 .backgroundclass {
  
  background-color: black;
   position: fixed;
   left: 0;
   top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sliderdiv{
  height: 100%;
}
.navbartitle {
margin-left: 3%;
}

 .navbartitle:hover {
  box-shadow: 0px 0px 15px red;
  background-color: red;
 
 }
 .hireme {
   color: red;
 }
 .link {
  padding: 5%;
  color: white;
  font-size: 2vh;
 }


  /* Homepage start */ 
  .homepage {
    background-color: black;
    height: 100%;
  }
.homepagetitle {
    animation: move 3s;
    -webkit-animation: move 1.5s;
    color: white;
    font-size: 12vh;
    

  }
  @keyframes pulse {
    25% {
      transform: scale(1.05);
      color: red;
    }
    50% {
      color: orange;
    }
  
    75% {
      transform: scale(.95);
      color: gold
    }
  }
  
  .pulse {
    display: inline-block;
  
    
  
    &:hover {
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    
    }
  }
  
  @keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  /* projects page */ 
  
  .projectitem {
    display:inline-block;
    margin-top: 5%;
    width:35% ;
    height: 75%;
    position: absolute;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
    color: white;
   
}
.projectitem:hover
{
    box-shadow: 0px 0px 50px white;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.10);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.10);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.10);
    transition: all 200ms ease-in;
    transform: scale(1.10);
}
.commercialprojects {
 
  color: white;
}

/* card start */ 

.blog-card {
  display: flex;
  
  margin: 1rem ;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: green;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  
    transition: transform .2s;
    
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    a {
      text-decoration: dotted underline
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: white;
    position: relative;
    z-index: 1;
    h1,
    
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: grey;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
       
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
         
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: white;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }


  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}